@using DataAccess.Models
@model List<Photos>
@{
    ViewData["Title"] = "Danh sách học viên dự thi";
    Layout = "/Views/Shared/_Layout2.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách học viên dự thi</h4>
            </div>
            <div class="card-body pb-1">
                <input type="hidden" value="@ViewBag.ExamId" id="txtExamId"/>
                <div id="lightgallery" class="row">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <a href="@item.ImageUrl" data-exthumbimage="@item.ImageUrl" data-src="@item.ImageUrl" style="width:175px;height:220px;padding:8px;">
                                <img src="@item.ImageUrl" alt="" style="width:100%;" />
                                <span class="span-item">Mã HV : <b style="color:blue">@item.StudentCode</b></span>
                                <br />
                                <span class="span-item">Số máy : <b style="color:red;">@item.OrderNumber</b></span>
                            </a>
                        }
                    }
                    @*<a href="/Content/images/big/img1.jpg" data-exthumbimage="/Content/images/big/img1.jpg" data-src="/Content/images/big/img1.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img1.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>
                        <a href="/Content/images/big/img2.jpg" data-exthumbimage="/Content/images/big/img2.jpg" data-src="/Content/images/big/img2.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img2.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>
                        <a href="/Content/images/big/img3.jpg" data-exthumbimage="/Content/images/big/img3.jpg" data-src="/Content/images/big/img3.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img3.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>
                        <a href="/Content/images/big/img4.jpg" data-exthumbimage="/Content/images/big/img4.jpg" data-src="/Content/images/big/img4.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img4.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>

                        <a href="/Content/images/big/img5.jpg" data-exthumbimage="/Content/images/big/img5.jpg" data-src="/Content/images/big/img5.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img5.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>
                        <a href="/Content/images/big/img6.jpg" data-exthumbimage="/Content/images/big/img6.jpg" data-src="/Content/images/big/img6.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img6.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>
                        <a href="/Content/images/big/img7.jpg" data-exthumbimage="/Content/images/big/img7.jpg" data-src="/Content/images/big/img7.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img7.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>
                        <a href="/Content/images/big/img8.jpg" data-exthumbimage="/Content/images/big/img8.jpg" data-src="/Content/images/big/img8.jpg" class="col-lg-3 col-md-6 mb-4">
                            <img src="/Content/images/big/img8.jpg" alt="" style="width:100%;" />
                            <span class="span-item">Mã học viên : 123456789</span>
                        </a>*@
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
</div>

<script>
        var timer = 0;
        const myInterval = setInterval(LoadImage, 1000);

        function LoadImage() {
            timer++;
            if (timer >= 15) {
                debugger;
                var url_string = window.location.href;
                var url = new URL(url_string);
                var examId = $("#txtExamId").val();
                if (examId == "")
                    examId = url.searchParams.get("examId");
                timer = 0;
                $.ajax({
                    type: 'GET',
                    url: 'http://192.168.88.182:5479/Home/StudentImagePartial', //+ "Home/StudentGetList",
                    data: { examId: examId },
                    dataType: 'html',
                    success: function (res) {
                        $('#lightgallery').html(res);
                    },
                    error: function () {
                        sweetAlert("Oops...", "Hệ thống bận, vui lòng quay lại sau!", "error");
                    }
                });
            }
            console.log(timer);
        }
</script>